{% extends 'base.html' %}

{% block content %}
<form method='POST'>

<h4>Would you prefer going to the park, mountain or by the sea? </h4>

    <label>
    <input id="check1" type ="checkbox" value="2" classs= "filled-in" name ="mycheck">
    <span>Park</span>
    </label>    <label>
    <input id = "check2" type ="checkbox" value="2" classs= "filled-in" name ="mycheck">
    <span>Sea</span>
    </label>
    <label>
    <input id= "check3" type ="checkbox" value="2" classs= "filled-in" name ="mycheck">
    <span>Mountain</span>
    </label>

    <button type="submit">Submit</button>


{% endblock %}

