{% extends 'base.html' %}

{% block content %}
<div class='container'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3>Modify Product</h3>
<div class = 'row'></div>
<div class = 'row'>
    <form method='POST'>
        <div class="input-field col s3">
          <input name='name' id="name" type="text" value= "{{PRODUCT.name}}"/>
          <label for="name">Product Name</label>
        </div>

        <div class="input-field col s3">
          <input name='quantity' id="quantity" type="number" value= "{{PRODUCT.quantity}}"/>
          <label for="quantity">Product Quantity</label>
        </div>

        <div class="input-field col s3">
          <input name='price' id="price" type="number" value= "{{PRODUCT.price}}">
          <label for="price">Price</label>
        </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Save
    <i class="material-icons right">send</i>
  </button>
</div>
  </form>

<div class = 'row divider'></div>
</div>

{% endblock %}