{% extends 'base.html' %}

{% block content %}
<div class='container'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3>Product </h3>
<form method='GET'>
    <div class="input-field col s6">
          <input id="tname" type="text" name='tname'>
          <label for="tname">Product Name</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right">search</i>
  </button>
</form>
<form method='POST'>
<div class="row">
    <table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Delete</th>
    <th>Modify</th>
  </tr>

  {% for p in PRODUCT %}
  <tr>

    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.price}}</td>
    <td> <a href= "{{url_for('delete', id=p.id)}}">Delete</a></td>
    <td> <a href= "{{url_for('modify', id=p.id)}}">Modify</a></td>

  </tr>
  {% endfor %}
    <td>
    </td>
    <td>
    <div class="row">
        <div class="input-field col s6">
          <input name='name' placeholder="Placeholder" id="name" type="text">
          <label for="name">Name</label>
        </div>
    </div>
    </td>

    <td>
    <div class="row">
        <div class="input-field col s6">
          <input name='quantity' placeholder="Placeholder" id="quantity" type="number">
          <label for="quantity">Quantity</label>
        </div>
    </div>
    </td>
    <td>
    <div class="row">
        <div class="input-field col s6">
          <input name='price' placeholder="Placeholder" id="price" type="number">
          <label for="price">Price</label>
        </div>
    </div>
    </td>
</table>
  <button class="btn waves-effect waves-light" type="submit" name="action">Create
    <i class="material-icons right">send</i>
  </button></div>
</form>



<div class = 'row divider'></div>
</div>

{% endblock %}
