{% extends 'base.html' %}


{% block content %}

<h2>Person Table </h2>


<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Profession</th>
  </tr>

  <td>
      {% for p in data PEOPLE}

      <tr>
          <td>
             {{p.name}}
          </td>

          <td>
             {{p.city}}
          </td>

          <td>
             {{p.profession}}
          </td>
     {% endfor %}
<table>

{% endblock %}


